body {
    font-family: 'Cabin', sans-serif;
  }
  
  .titulo {
    text-align: center;
    color: #2F2F2F;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 0 auto;
  }
  
  .adentro {
    padding: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .lista-tareas {
    padding-top: 30px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .container-botones {
    display: flex;
    gap: 10px;
  }
  
  .boton-completada {
    background-color: #9EA93F;
    border: 1px solid #2F2F2F;
    border-radius: 5px;
  }
  
  .boton-eliminar {
    background-color: #CE5850;
    border: 1px solid #2F2F2F;
    border-radius: 5px;
  }
  
  .boton {
    background-color: #E0B7B7;
    color: #2F2F2F;
    font-weight: bold;
    border: 1px solid #2F2F2F;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 130px;
    height: 25px;
  }
  
  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 170px;
    height: 25px;
    margin: 5px;
  }
  
  .tarea {
    margin: 10px;
  }
  
  .nuevaTarea {
    margin: 10px;
  }
  /* CSS para el nombre del incio*/

  .nombreUsuario{
    text-align: center;
  }
  .inicio{
     text-align: center;
     margin-top: 10%;

  }
  .botonInicio{
    display: flex; 
    justify-content: center; 
    width: 200px;  
    margin: auto; 
    margin-top: 5%;
    padding: 10px 20px; 
    background-color: green; 
    color: white; 
    border: none; 
    border-radius: 5px; 
  }
  .etiquetaNombre{
    font-family: 'Calibri';
    font-size: 2.5em;
  }

  .encabezado {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
  }
  .salir{
    background-color: #199df0;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 2em;
  }

  